<div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{inputId}}"
            id="{{inputId}}True" value='True' checked>
        <label class="form-check-label" for="{{inputId}}True">
            হ্যাঁ 
        </label>
    </div>
    
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{inputId}}"
            id="{{inputId}}False" value='False'>
        <label class="form-check-label" for="{{inputId}}False">
            না
        </label>
    </div>
</div>